body{
  margin: 0;
}

.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav{
  width: 100%;
  background-color: #f48668;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content{
  width: 90%;
  margin: auto;
  height: 80%;
  background-color: gainsboro;
  display: flex;
}

#fiche{
  width: 100%;
  height: 100%;
}

#frais{
  width: 100%;
  height: 100%;
}

#fforfait{
  width: 100%;
  height: 50%;
}

#fhorsforfait{
  width: 100%;
  height: 50%;
}

.login{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 4% 8%;
  background-color: #f48668;
}

.login input,
.login button{
  margin: 3% 2%;
  padding: 5%;
}